/*
    Copyright © 2021 Ingram Micro Inc. All rights reserved.
*/
.wy-table-responsive table {
    width: 100%;
}

.wy-table-responsive table td {
    white-space: normal;
}

.wy-nav-content{
    max-width: 1000px;
}
